@font-face {
  font-family: "Overwave"; /*Can be any text*/
  src: local("Overwave"), url("./assets/Overwave.ttf") format("truetype");
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #003249;
  color: white;
}
